.show-spot-background {
    background-image: url('https://res.cloudinary.com/djgibqxxv/image/upload/v1697074244/Hang/qo2xtoi31i6qlptzcfma.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

.content-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.content-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.map-container {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.review-card {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.review-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.delete-button {
    transition: color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    color: #ff0000;
    transform: scale(1.1);
}

